body {
  background: #e5e5e5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 30px;
  text-align: center;
}
.title {
  color: blue;
}
.container {
  border: 1px solid #000;
  color: blue;
  height: 300px;
  margin: auto;
  padding: 15px;
  width: 700px;
}
.footer {
  color: cadetblue;
  font-size: 14px;
}


